<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/standard.css">
    <title>Pessoas</title>
</head>
<body>
    <main class="container block">  
        <h2>Pessoas Cadastradas</h2>
        <ul>
            <% pessoas.forEach((pessoa) => { %>
                <li class="block">
                    <span><%= pessoa.nome %> <%= pessoa.sobrenome %><br></span>
                    <span>Altura: <%= pessoa.altura %></span>
                    <span>Idade: <%= pessoa.idade %></li></span>
                </li>
            <% }) %>
        </ul>
        <h1 class="button" onclick="location='/pessoas/criar'">Cadastrar Novas Pessoas</h1>  
    </main>
</body>
</html>